
body{
  background: url('/bg2.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  width: 75%;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 20px 2px black;
  color: black;
}


.chat-outer-con{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-con{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: .5rem;
  box-sizing: border-box;
}
.input-con :first-child{
  border-radius: 0.6rem;
  flex-grow: 1;
  outline:  none;
margin: 0 0.5rem;
padding: 0.6rem;
padding-bottom: 0;
font-size: 1.2rem;
height: 2rem;
display: flex;
text-align: justify;
max-height: 5rem;
resize: none;
}

.msg-list-container{
  overflow-y: scroll;
  flex-basis: 75%;
  text-align:left ;
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.msg{
  list-style: none;
  overflow-wrap: break-word;
}
.msg-container{
  background: white;
  margin: 7px 0;
  padding: 0.4rem .8rem;
  border-radius: 1rem;  
  margin-right: auto;
max-width: 100%;
box-sizing: border-box;
}
.msg-container-user{
  margin-left: auto;
  margin-right: 0;
  background: rgb(179, 255, 112);
}
.msg-sender{
  width: 100%;
  color: darkorange;
  font-weight: 600;
}
@media screen and (width<576px){
  #root {
    width: 100%;
  }
}
@media screen and (width>=576px){
  #root {
    width: 90%;
  }
}

@media screen and (width>=786px){
  #root {
    width: 80%;
  }
}

@media screen and (width>=992px){
  #root {
    width: 60%;
  }
}



@media screen and (width>=1200px){
  #root {
    width: 50%;
  }
}


@media screen and (width>=1400px){
  #root {
    width: 40%;
  }
}



